doctype html
html
    head
        include ../head
    body
        h1 Login
        form(name="login", action="/login", method="POST")
            label(for="username") Username
            input#username(type="text", name="username", placeholder="Username", required)
            label(for="password") Password
            input#password(type="password", placeholder="Password", name="password", required)
            input(type="hidden", name="_csrf", value=_csrf)
            input(type="submit", value="Login")
