title= title

// ***** HTMX *****
script(src="https://unpkg.com/htmx.org@1.9.10")
script(src="https://unpkg.com/htmx.org/dist/ext/loading-states.js")
//script(src="https://unpkg.com/htmx.org/dist/ext/sse.js")

// **** Custom ****
link(rel="stylesheet", href="/resources/css/index.css")